@{ }
<div id="divAccountCenter" hidden onload="initAccountCenter()">
    <div class="portal-content-frame">
        <div><strong>Coming in a future update.</strong></div>
        <div>This will be a place to view and edit all technician accounts.  For now, please modify the JSON files directly in /App_Data/Tech_Accounts/.</div>
    </div>
</div>