@{ }
<div id="divComputerHub" hidden onload="initComputerHub()">
    <div class="portal-content-frame">
        <div class="frame-title">
            <small>Computer Hub</small>
            <button onclick="$('#divComputerHub').slideToggle()">X</button>
        </div>
        <div><strong>Coming in a future update.</strong></div>
        <div>This will be a place to view all computers running the InstaTech service and perform many administrative tasks.  For now, please use the search feature in the remote control tool to locate computers.</div>
    </div>
</div>