@{ }
<div id="divComputerCenter" hidden onload="initComputerCenter()">
    <div class="portal-content-frame">
        <div><strong>Coming in a future update.</strong></div>
        <div>This will be a place to view all computers running the InstaTech service and perform many administrative tasks.  For now, please use the search feature in the remote control tool to locate computers.</div>
    </div>
</div>