@{ }
<div id="divConfiguration" hidden onload="initConfiguration()">
    <div class="portal-content-frame">
        <div><strong>Coming in a future update.</strong></div>
        <div>This will be a place to modify the configuration, export settings, back up data, etc.</div>
    </div>
</div>