<div id="divCustomerChat" hidden onload="initCustomerChat()">
    <div class="portal-content-frame">
        <form id="formCustomerChat" onsubmit="submitCustomerChatLogin(event)">
            <input type="hidden" name="Type" value="CustomerChatLogin" />
            <table>
                <tr>
                    <td>
                        <label for="FirstName">First Name:</label>
                    </td>
                    <td>
                        <input required name="FirstName" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="LastName">Last Name:</label>
                    </td>
                    <td>
                        <input required name="LastName" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="UserID">User ID (optional):</label>
                    </td>
                    <td>
                        <input id="inputCustomerUserID" name="UserID" type="text" />
                        <a class="tooltip-anchor" title="This is typically the user ID that you use to log into your computer.">?</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="ComputerName">PC Name (optional):</label>
                    </td>
                    <td>
                        <input id="inputCustomerComputerName" name="ComputerName" type="text" />
                        <a class="tooltip-anchor" title='The unique name for your computer.  You can find this by clicking Start, typing "PC Name", and clicking the "best match" at the top.'>?</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="Phone">Phone:</label>
                    </td>
                    <td>
                        <input required name="Phone" type="tel" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Email">Email:</label>
                    </td>
                    <td>
                        <input required name="Email" type="email" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="SupportCategory">Category:</label>
                    </td>
                    <td>
                        <select name="SupportCategory" id="selectSupportCategory" required onchange="changeSupportCategory(event)"></select>
                    </td>
                </tr>
                <tr hidden>
                    <td>
                        <label for="SupportType">Type:</label>
                    </td>
                    <td>
                        <select name="SupportType" id="selectSupportType"></select>
                    </td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td colspan="2">
                        <label for="Details">Details of Problem or Request:</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea required name="Details" placeholder="Describe the issue or request in detail."></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Submit</button>
                    </td>
                </tr>
            </table>

        </form>
        <div id="divChatBoxCustomer" class="left-aligned chat-frame" ondragover="dragOverCustomerChat(event)" ondrop="dropOnCustomerChat(event)" hidden>
            <div>
                <div id="divCustomerMessages" class="chat-messages">
                    <div id="divWaitMessage">Waiting for an agent.  Place in queue: <span id="spanWaitQueue">Unknown</span></div>
                </div>
                <div id="divCustomerChatSidebar" class="chat-sidebar">
                    <button onclick='$("#inputCustomerFile").click()'>Transfer File</button>
                    <br />
                    <button onclick="closeCustomerSession(event)">Close Session</button>
                    <input id="inputCustomerFile" type="file" hidden multiple onchange='transferFileCustomer(this.files);' />
                </div>
            </div>
            <div id="divCustomerStatus" class="chat-status"> </div>
            <div id="divCustomerInput" class="chat-input-frame">
                <textarea id="textCustomerInput" placeholder="Type your message here." disabled onkeydown='customerKeyDown(event)' />
                <button id="buttonCustomerSend" onclick="submitCustomerMessage(event)">Send</button>
            </div>
            <div id="divCustomerStatusBar"></div>
        </div>
    </div>
</div>