<div id="divCustomerChat" hidden>
    <div class="portal-content-frame">
        <form id="formCustomerChat" onsubmit="submitCustomerChat(event)">
            <input type="hidden" name="Type" value="CustomerLogin" />
            <table>
                <tr>
                    <td>
                        <label for="FirstName">First Name:</label>
                    </td>
                    <td>
                        <input required name="FirstName" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="LastName">Last Name:</label>
                    </td>
                    <td>
                        <input required name="LastName" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="UserID">User ID:</label>
                    </td>
                    <td>
                        <input required name="UserID" type="text" />
                        <a class="tooltip-anchor" title="This is typically the user ID that you use to log into your computer.">?</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="ComputerID">Computer ID:</label>
                    </td>
                    <td>
                        <input name="ComputerID" type="text" />
                        <a class="tooltip-anchor" title='The unique name for your computer, which can be found by clicking Start, typing "System", and clicking the first match.'>?</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="Phone">Phone:</label>
                    </td>
                    <td>
                        <input required name="Phone" type="tel" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Email">Email:</label>
                    </td>
                    <td>
                        <input required name="Email" type="email" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="SupportCategory">Category:</label>
                    </td>
                    <td>
                        <select name="SupportCategory" id="selectSupportCategory" required onchange="changeSupportCategory(event)"></select>
                    </td>
                </tr>
                <tr hidden>
                    <td>
                        <label for="SupportType">Type:</label>
                    </td>
                    <td>
                        <select name="SupportType" id="selectSupportType"></select>
                    </td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td colspan="2">
                        <label for="textDescription">Details of Problem or Request:</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea required name="Details" placeholder="Describe the issue or request in detail."></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Submit</button>
                    </td>
                </tr>
            </table>

        </form>
        <div id="divChatBoxCustomer" class="left-aligned" hidden>
            <div id="divCustomerMessages" class="chat-messages">
                <div id="divWaitMessage">Waiting for an agent.  Place in queue: <span id="spanWaitQueue">Unknown</span></div>
            </div>
            <div id="divCustomerInput" class="chat-input-frame">
                <textarea id="textCustomerInput" placeholder="Type your message here." disabled />
                <button id="buttonCustomerSend">Send</button>
            </div>
            <div id="divCustomerStatusBar"></div>
        </div>
    </div>
</div>
<script defer src="~/scripts/Customer_Chat.js"></script>