@{
    
}

<!DOCTYPE html>
<html>
    <head>
        <title>@InstaTech.App_Code.Config.Company_Name</title>
        <meta name="keywords" content="Tech Support, Computer Support, Computer Help, Remote Support, Remote Tools, Remote Control, Support Chat, Live Chat" />
        <meta name="viewport" content="width=600, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <link href="~/Default.css" rel="stylesheet" />
        <link href="~/scripts/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
        <link href="~/scripts/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" />
        <link href="~/scripts/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet" />
        <link href="~/favicon.ico" rel="icon" />
        <script src="~/scripts/jquery/jquery-3.1.1.min.js"></script>
        <script src="~/scripts/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/scripts/Main_Model.js"></script>
        <script src="~/scripts/Utilities.js"></script>
        <script src="~/scripts/Default.js"></script>
        <script src="~/scripts/Socket_Message_Handlers/Chat.js"></script>
        <script src="~/scripts/Socket_Message_Handlers/Shared.js"></script>
        <script src="~/scripts/Controls/Customer_Chat.js"></script>
        <script src="~/scripts/Controls/Tech_Chat.js"></script>
        <script src="~/scripts/Controls/Customer_Remote.js"></script>
        <script src="~/scripts/Controls/Tech_Remote.js"></script>
        <script src="~/scripts/Controls/Account_Center.js"></script>
        <script src="~/scripts/Controls/Computer_Center.js"></script>
    </head>
    <body>
        <div id="divCustomerPortal" class="center-aligned">
            <button id="buttonToTechPortal" class="switch-portal" onclick="switchToTechPortal()">
                <div class="arrow-left"></div>Tech Portal
            </button>
            <div class="portal-title">
                @InstaTech.App_Code.Config.Company_Name
                <br />
                Support Portal
            </div>
            <br />
            <div class="portal-button-frame">
                <div class="portal-option-button" opens="#divCustomerChat" opens-file="Customer_Chat.cshtml">
                    <div class="portal-option-text">
                        <img src="~/Assets/Images/Message_16x.svg" />
                        <br />
                        Support Chat
                    </div>
                </div>
                <div class="portal-option-button" opens="#divCustomerRemote" opens-file="Customer_Remote.cshtml">
                    <div class="portal-option-text">
                        <img src="~/Assets/Images/RemoteDesktop_64x.png" />
                        <br />
                        Remote Session
                    </div>
                </div>
            </div>
            <br />
            <div id="divCustomerContent">

            </div>
        </div>

        <div id="divTechPortal" class="center-aligned" hidden>
            <div id="divMainTechLoginFrame">
                <div>
                    <span id="spanMainLoginStatus"><small>Not logged in.</small></span><br />
                    <a class="link" id="aMainTechLogIn" onclick='$("#divMainTechLoginForm").slideToggle()'>Log In</a>
                    <a class="link" id="aMainTechLogOut" onclick="logOutTech(event)" hidden>Log Out</a>
                </div>
                <div id="divMainTechLoginForm" hidden>
                    <form id="formTechMainLogin" onsubmit="submitTechMainLogin(event)">
                        <button type="button" onclick='$("#divMainTechLoginForm").slideToggle()' class="close-button-title">X</button>
                        <input type="hidden" name="Type" value="TechMainLogin" />
                        <table>
                            <tr>
                                <td>
                                    <label for="inputTechMainUserID">User ID:</label>
                                </td>
                                <td>
                                    <input type="text" id="inputTechMainUserID" name="UserID" required />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="inputTechMainPassword">Password:</label>
                                </td>
                                <td>
                                    <input type="password" id="inputTechMainPassword" name="Password" required />
                                </td>
                            </tr>
                            <tr hidden>
                                <td>
                                    <label for="inputTechMainNewPassword">New Password:</label>
                                </td>
                                <td>
                                    <input type="password" id="inputTechMainNewPassword" name="NewPassword" min="8" max="20" />
                                </td>
                            </tr>
                            <tr hidden>
                                <td>
                                    <label for="inputTechMainConfirmNewPassword">Confirm New Password:</label>
                                </td>
                                <td>
                                    <input type="password" id="inputTechMainConfirmNewPassword" name="ConfirmNewPassword" min="8" max="20" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="inputTechMainRememberMe"><small>Remeber Me:</small></label>
                                </td>
                                <td>
                                    <input type="checkbox" id="inputTechMainRememberMe" name="RememberMe" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button type="submit">Submit</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="right-aligned">
                                    <a class="link" onclick="forgotPasswordMain(event)">Forgot password?</a>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <button id="buttonToTechPortal" class="switch-portal" onclick="switchToCustomerPortal()">
                <div class="arrow-left"></div>Customer Portal
            </button>
            <div class="portal-title tech-portal-title">
                @InstaTech.App_Code.Config.Company_Name
                <br />
                Tech Portal
            </div>
            <br />
            <div class="portal-button-frame">
                @* Portal buttons must have "opens-file" and "opens" attribute that tells it the file
                    in /Controls/ from which to load content and the element to show with the slideDown effect.*@
                <div class="portal-option-button" opens="#divTechChat" opens-file="Tech_Chat.cshtml">
                    <div class="portal-option-text">
                        <img src="~/Assets/Images/Message_16x.svg" />
                        <br />
                        Support Chat
                    </div>
                </div>
                <div class="portal-option-button" opens="#divTechRemote" opens-file="Tech_Remote.cshtml">
                    <div class="portal-option-text">
                        <img src="~/Assets/Images/RemoteDesktop_64x.png" />
                        <br />
                        Remote Session
                    </div>
                </div>
               
                <div class="portal-option-button" opens="#divAccountCenter" opens-file="Account_Center.cshtml">
                    <div class="portal-option-text">
                        <img src="~/Assets/Images/User_64x.png" />
                        <br />
                        Account Center
                    </div>
                </div>
                <div class="portal-option-button" opens="#divComputerCenter" opens-file="Computer_Center.cshtml">
                    <div class="portal-option-text">
                        <img src="~/Assets/Images/ComputerSystem_256x.png" />
                        <br />
                        Computer Center
                    </div>
                </div>
            </div>
            <br />
            <div id="divTechContent">

            </div>
        </div>
        <div id="divWebSocketUnavailable" class="center-aligned"  hidden>
            <div class="portal-content-frame error-frame">
                Your browser doesn't support the features used on this website.  Please try using the latest version of Firefox, Chrome, or Edge.
            </div>
        </div>
        <div id="divWebSocketError" class="center-aligned"  hidden>
            <div class="portal-content-frame error-frame">
                There was a problem with the connection.  Try closing and reopening your browser.  If the issue persists, please call your IT support department.
            </div>
        </div>
        <div id="divWebSocketClosed" class="center-aligned" hidden>
            <div class="portal-content-frame">
                Your session has ended.
            </div>
        </div>
        <div id="divLoading" hidden>
            <div>
                Loading...
                <br />
                <progress title="Loading..."></progress>
            </div>
        </div>
        <div id="divBackground"></div>
    </body>
</html>