@{
    
}

<!DOCTYPE html>
<html>
    <head>
        <title>@InstaTech.App_Code.Config.Company_Name</title>
        <meta name="keywords" content="Tech Support, Computer Support, Computer Help, Remote Support, Remote Tools, Remote Control, Support Chat, Live Chat" />
        <meta name="viewport" content="width=600" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <link href="~/styles.css" rel="stylesheet" />
        <link href="~/scripts/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
        <link href="~/scripts/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" />
        <link href="~/scripts/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet" />
        <link href="~/favicon.ico" rel="icon" />
        <script src="~/scripts/jquery/jquery-3.1.1.min.js"></script>
        <script src="~/scripts/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/scripts/Main_Model.js"></script>
        <script src="~/scripts/Utilities.js"></script>
        <script src="~/scripts/Default.js"></script>
        <script src="~/scripts/Customer_Chat.js"></script>
        <script src="~/scripts/Tech_Chat.js"></script>
    </head>
    <body>
        <div id="divCustomerPortal" class="center-aligned">
            <button id="buttonToTechPortal" class="switch-portal" onclick="switchToTechPortal()">
                <div class="arrow-left"></div>Tech Portal
            </button>
            <div class="portal-title">
                @InstaTech.App_Code.Config.Company_Name
                <br />
                Support Portal
            </div>
            <br />
            <div class="portal-button-frame">
                <div class="portal-option-button" opens="#divCustomerChat" opens-file="Customer_Chat.cshtml">
                    <div class="portal-option-text">
                        <img src="~/Assets/Images/Message_16x.svg" />
                        <br />
                        Support Chat
                    </div>
                </div>
                <div class="portal-option-button" opens="#divCustomerRemote" opens-file="Customer_Remote.cshtml">
                    <div class="portal-option-text">
                        <img src="~/Assets/Images/RemoteDesktop_64x.png" />
                        <br />
                        Remote Session
                    </div>
                </div>
            </div>
            <br />
            <div id="divCustomerContent">

            </div>
        </div>

        <div id="divTechPortal" class="center-aligned" hidden>
            <button id="buttonToTechPortal" class="switch-portal" onclick="switchToCustomerPortal()">
                <div class="arrow-left"></div>Customer Portal
            </button>
            <div class="portal-title">
                @InstaTech.App_Code.Config.Company_Name
                <br />
                Tech Portal
            </div>
            <br />
            <div class="portal-button-frame">
                @* Portal buttons must have "opens-file" and "opens" attribute that tells it the file
                    in /Controls/ from which to load content and the element to show with the slideDown effect.*@
                <div class="portal-option-button" opens="#divTechChat" opens-file="Tech_Chat.cshtml">
                    <div class="portal-option-text">
                        <img src="~/Assets/Images/Message_16x.svg" />
                        <br />
                        Support Chat
                    </div>
                </div>
                <div class="portal-option-button" opens="#divTechRemote" opens-file="Tech_Remote.cshtml">
                    <div class="portal-option-text">
                        <img src="~/Assets/Images/RemoteDesktop_64x.png" />
                        <br />
                        Remote Session
                    </div>
                </div>
            </div>
            <br />
            <div id="divTechContent">

            </div>
        </div>
        <div id="divWebSocketUnavailable" class="center-aligned"  hidden>
            <div class="portal-content-frame error-frame">
                Your browser doesn't support the features used on this website.  Please try using the latest version of Firefox, Chrome, or Edge.
            </div>
        </div>
        <div id="divWebSocketError" class="center-aligned"  hidden>
            <div class="portal-content-frame error-frame">
                There was a problem with the connection.  Try closing and reopening your browser.  If the issue persists, please call your IT support department.
            </div>
        </div>
        <div id="divWebSocketClosed" class="center-aligned" hidden>
            <div class="portal-content-frame error-frame">
                Your session has ended.
            </div>
        </div>
        <div id="divLoading" hidden>
            <div>
                Loading...
                <br />
                <progress title="Loading..."></progress>
            </div>
        </div>
        <div id="divBackground"></div>
    </body>
</html>